
  <ul class="timeline">
    <li>
      <div class="timeline-panel">
      	<form class="facebook-share-box">
          <div class="timeline-body">
            <div class="share-form">
              <ul class="post-types">
                <li class="btn-file">
                  <a class="status" id="shareType" href="#">
                    <i class="glyphicon glyphicon-edit"></i> Status</a>
                </li>
                <li class="btn-file">
                  <a class="photos" id="shareType" href="#" ng-click="uploadImage()">
                    <i class="glyphicon glyphicon-picture"></i> Photos </a>
                    <input type="file"  name="image" id="photoType" placeholder="Image or Vimeo video URL"/>
                </li>
                <li class="btn-file">
                  <a class="videos" id="shareType" href="#">
                    <i class="glyphicon glyphicon-facetime-video"></i> Video</a>
                    <input type="file" name="image" id="image">
                </li>
              </ul>
              <div class="share">
                <!-- <div class="arrow hidden-xs"><i class="glyphicon-triangle-bottom glyphicon glyphicon-triangle-top"> </i></div> -->
                <div class="hr">
                  <textarea id="status_message" name="message" ng-model="status.message" cols="40" rows="2"  class="status-message" placeholder="What's on your mind ?"></textarea>
                </div>
              </div>

			<div ng-show="progressVisible">
				<img class="img-fluid" ng-src="/archive/documentResizing/{{status.imageUuid}}" alt="Description" />
				<!-- Image --> 
				<div class="progress progress-section active">
					<div class="progress-bar  progress-bar-complete progress-bar-striped" ng-style="{'width': progress+'%'}">
				       <!--  <span class="">{{progress}}%</span> -->
				    </div>
	            </div>
	            
			</div>
            </div>
          </div>
        
          <div class="timeline-footer clearfix">
            <div class="pull-right">
              <input type="submit" name="submit" value="Post" ng-click="onPost()" id="btn-share" class="btn btn-xs btn-primary" />
            </div>
          </div>
        </form>
      </div>
    </li>
  </ul>