<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
<head>
</head>
<body>

	<div class="container">
		<p class="navbar-text">
		  Cactus By 9-Lek-Lek Bloger &copy; <put-date th:text=${#dates.year(#dates.createNow())}></put-date> |  Version 1.0
		</p>
	</div>

</body>
</html>