<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/theme/theme.css}" type="text/css" />
<!-- <link rel="stylesheet" th:href="@{/css/theme/timeline.css}"  type="text/css"/> -->

<style>
.timeline {
	list-style: none;
	padding: 0px;
	position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 2px;
	background: rgb(245, 245, 245);
    left: -30px;
    /* margin-left: -1.5px; */
}

.timeline-panel{
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline-badge {
  color: grey;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 18px;
  left: -39px;
  z-index: 100;
}
.timeline-badge > a{
	color: rgba(180, 180, 180, 0.70);
	
}
.timeline-badge > a:hover{
	color: rgba(20, 20, 20, 0.30);
}
.timeline-badge:before {
  position: absolute;
  top: -2px;
  left: 25px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 0 solid #ccc;
  border-right: 15px solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
 
} 
	
	
.facebook-share-box {
	width: 100%;
	background-color: white;
}

.facebook-share-box .share-form {
	padding: 2%;
}

.facebook-share-box .share {
	-webkit-transition: 0.1s ease-out height;
	-moz-transition: 0.1s ease-out height;
	-ms-transition: 0.1s ease-out height;
	-o-transition: 0.1s ease-out height;
	transition: 0.1s ease-out height;
	clear: both;
	background-color: white;
	position: relative;
}

.arrow {
	position: absolute;
	height: 10px;
	float: left;
	-webkit-transition: 0.3s ease-out all;
	-moz-transition: 0.3s ease-out all;
	-ms-transition: 0.3s ease-out all;
	-o-transition: 0.3s ease-out all;
	transition: 0.3s ease-out all;
	color: #dddddd;
}

.facebook-share-box .post-types li a {
	color: #3b5998;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
}

.facebook-share-box .post-types li a.active {
	color: #404040;
}

.facebook-share-box .post-types {
	padding-left: 5px;
}

.facebook-share-box ul {
	list-style: none;
	margin-bottom: 9px;
}

.facebook-share-box .post-types li {
	display: inline-block;
	/* margin-right: 10px; */
	padding: 1px 10px;
}

.status-message {
	width: 100%;
	border: none;
	resize: none;
	cursor: auto;
	color: #222;
	padding: 10px;
}

.status-message:focus {
	outline: none;
}

.timeline-title {
	margin-top: 0;
	color: inherit;
}

.timeline-body>p,.timeline-body>ul {
	padding: 20px;
	margin-bottom: 0;
	background: #fff;
}

.timeline-body>p+p {
	margin-top: 2px;
}

.timeline-footer {
	padding: 0px 20px 10px 20px;
}

.timeline-header {
	padding: 20px;
	background-color: #f4f4f4;
}

.timeline-footer>a {
	cursor: pointer;
	text-decoration: none;
}

.timeline-heading {
	background: #fff;
}

.hr {
	border-bottom: 1px solid #e9eaed;
	border-left: none;
	border-right: none;
	border-top: 1px solid #e9eaed;
}

/*FILE INPUT*/
.btn-file {
	position: relative;
	overflow: hidden;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none ; border:    1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity =   0);
	cursor: inherit;
	display: block;
	opacity: 0;
}

.btn-file:hover {
	background-color: #fbfbfb;
}

.progress-section{
	width: 128px;
}
.progress {
	display: block;
	height: 10px;
	margin: 0px;
	border-radius: 0px; 
	
}






.card {
  padding: 15px 15px;
  margin: 10px 0 20px 0;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.card .card-heading {
  /* padding: 0px 20px 10px 20px; */
  margin: 0px;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 10px;
  margin-bottom: 5px;
  vertical-align: top;
  border: 0;
/*   -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%; */
}

.card .card-heading.image i {
	float:right;
	font-size: 12px;
	color: hsla(0, 0%, 0%, 0.12);
	cursor: pointer;
}
.card .card-heading.image i:hover {
	color: hsla(0, 0%, 0%, 0.20);
}
.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  color: #3b5998;
}

.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
}

.card .card-body {
  padding: 0px;
  margin-top: 5px;
  color: #141823;
}

/* .card .card-body p{
  margin-bottom: 0px;
  color: #141823;
} */

.card .card-media {
 /*  padding: 0 20px; */
  margin-bottom: 10px;
}

.card .card-media img {
  cursor:pointer;
  max-width: 100%;
  max-height: auto;
}

.card .card-actions {
  min-height: 30px;
  padding: 10px 20px 0px 0px;
  margin: 0px;
   border-top:1px solid #e9eaed;
}

.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.people:first-child {
  margin-left: 0;
}

.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
}

.card.people .card-top.green {
  background-color: #53a93f;
}

.card.people .card-top.blue {
  background-color: #427fed;
}

.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}

.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  width: 240px;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
}

.card.hovercard img {
  width: 240px;
  height: 135px;
}

.card.hovercard .avatar {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}

.card.hovercard .avatar img {
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.hero-unit {
  padding: 60px 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}







</style>