 
 <form-status ng-model="vm.status" on-post="vm.post()"></form-status>
 
 <div class="timeline">
    <div class="timeline-badge">
        <a><i class="glyphicon glyphicon-record"></i></a>
    </div> 
<!-- 	<div class="timeline-badge ">
		<a><i class="glyphicon glyphicon-record " rel="tooltip"
			title="11 hours ago via Twitter" id=""></i></a>
	</div> -->
	<div class="card">
		<div class="card-heading image">
			<img src="/avatar/agent-e202505f.png" alt="46x46"
				data-src="holder.js/46x46" style="width: 46px; height: 46px;">
			<i class="glyphicon glyphicon-remove" ng-click="vm.delete(data)"></i>
			<div class="card-heading-header">
				<h3>Simple News Card</h3>
				<span> Published - {{ data.createon | dateStatus}}
				</span>
			</div>

		</div>
		<div class="card-body">
			<p>{{data.message}}</p>
		</div>
		<div class="card-media" ng-if="data.imageUuid">
			<a class="card-media-container img-responsive" href="#/photo/2">
				<img ng-src="/storage/image/{{data.document.uuid}}/{{data.document.fileName}}" alt="{{data.document.uuid}}" />
			</a>
		</div>
		<div class="card-actions">
			<button class="btn btn-xs btn-primary">+1</button>
			<button class="btn btn-xs btn-primary">Share</button>
		</div>
	</div>
	
	
</div>
<div class="timeline">
    <div class="timeline-badge">
        <a><i class="glyphicon glyphicon-record"></i></a>
    </div> 
<!-- 	<div class="timeline-badge ">
		<a><i class="glyphicon glyphicon-record " rel="tooltip"
			title="11 hours ago via Twitter" id=""></i></a>
	</div> -->
	<div class="card">
		<div class="card-heading image">
			<img src="/avatar/agent-e202505f.png" alt="46x46"
				data-src="holder.js/46x46" style="width: 46px; height: 46px;">
			<i class="glyphicon glyphicon-remove" ng-click="vm.delete(data)"></i>
			<div class="card-heading-header">
				<h3>Simple News Card</h3>
				<span> Published - {{ data.createon | dateStatus}}
				</span>
			</div>

		</div>
		<div class="card-body">
			<p>{{data.message}}</p>
		</div>
		<div class="card-media" ng-if="data.imageUuid">
			<a class="card-media-container img-responsive" href="#/photo/2">
				<img ng-src="/storage/image/{{data.document.uuid}}/{{data.document.fileName}}" alt="{{data.document.uuid}}" />
			</a>
		</div>
		<div class="card-actions">
			<button class="btn btn-xs btn-primary">+1</button>
			<button class="btn btn-xs btn-primary">Share</button>
		</div>
	</div>
	
	
</div>
 