	<form-status ng-model="vm.status" on-post="vm.post()"></form-status>	
	<div class="card" ng-repeat=" data in vm.timeline">
		<div class="card-heading image">
			<img src="/avatar/agent-e202505f.png" alt="46x46"
				data-src="holder.js/46x46" style="width: 46px; height: 46px;">
			<i class="glyphicon glyphicon-remove" ng-click="vm.delete(data)"></i>
			<div class="card-heading-header">
				<h3>Simple News Card</h3>
				<span> <!-- Published -  -->{{ data.createon | dateStatus}}
				</span>
			</div>

			<!-- <ul class="nav navbar-nav navbar-right">
		  <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="" aria-expanded="true"><i class="glyphicon glyphicon-chevron-down"></i></a>
			<ul class="dropdown-menu">
			  <li><a href="">More</a></li>
			  <li><a href="">More</a></li>
			  <li><a href="">More</a></li>
			  <li><a href="">More</a></li>
			  <li><a href="">More</a></li>
			</ul>
		  </li>
		</ul> -->
		</div>
		<div class="card-body">
			<p>{{data.message}}</p>
		</div>
		<div class="card-media" ng-if="data.imageUuid">
			<a class="card-media-container img-responsive"> 
				<img ng-src="/storage/image/{{data.document.uuid}}/{{data.document.fileName}}" alt="{{data.document.uuid}}"  ng-click="vm.photoDetail(data.id)" />
			</a>
		</div>
		<div class="card-actions">
			<button class="btn btn-xs btn-primary">+1</button>
			<button class="btn btn-xs btn-primary">Share</button>
		</div>
	</div>
	<loading-more event="vm.load()"></loading-more>
